@import "tailwindcss";

@theme {
  --color-Noir: #1a1a1a; /* used */
  --color-Dark: #2C2C2C;
  --color-Eclipse: #2c2c54;
  --color-MidnigthBule: #191970; /* used */
  --color-BlackBurry: #12283f;
  --color-blackHole: #201e4b;
  --color-DeepNavyblue: #191970;
  --color-BlueText: #367cff;
  --color-DeepPlum: #37012b;
  --color-MidnightPurple1: #280137;
  --color-MidnightPurple2: #2e1a47;
  --color-MidnightPurple3: #1e0939; /* used */
  --color-bbMilk: #9f5fb8;
  --color-Lavender: #8b53fe;
  --color-LightGray: #e5e5e5;
  --color-Ivory: #fffdd0; /* used */
  --color-Teal: #00f5d4;
  --color-Magenta: #ff00ff;
  --color-Green1: #79b85f;
  --color-Green2: #8eff01;
  --color-Green3: #00ff00;
  --color-Green4: #a3fe01; /* used */
}

@layer utilities {
  /* stroke width */
  .text-stroke-1 {
    -webkit-text-stroke-width: 1px;
    text-stroke-width: 1px;
  }
  .text-stroke-2 {
    -webkit-text-stroke-width: 2px;
    text-stroke-width: 2px;
  }

  /* color stoke */
  .text-stroke-Green4 {
    -webkit-text-stroke-color: var(--color-Green4);
    text-stroke-color: var(--color-Green4);
  }
  .text-stroke-Ivory {
    -webkit-text-stroke-color: var(--color-Ivory);
    text-stroke-color: var(--color-Ivory);
  }
  .text-stroke-Magenta {
    -webkit-text-stroke-color: var(--color-Magenta);
    text-stroke-color: var(--color-Magenta);
  }

  /* Rainbow */
  .animated-rainbow-border {
    background: linear-gradient(
      90deg,
      var(--color-Lavender),
      var(--color-Magenta),
      var(--color-bbMilk),
      var(--color-Green4),
      var(--color-Teal),
      var(--color-BlueText),
      var(--color-Lavender)
    );
    background-size: 200% 100%;

    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    animation: rainbow-border 8s linear infinite;
  }

  .animated-rainbow-glow {
    background: linear-gradient(
      90deg,
      var(--color-Magenta),
      var(--color-bbMilk),
      var(--color-Green4),
      var(--color-Teal),
      var(--color-BlueText),
      var(--color-Lavender) 
    );
    background-size: 200% 100%;
    animation: rainbow-border 8s linear infinite;
  }

  /* Text Run */
  .animated-gradient-text {
    background: linear-gradient(
      90deg,
      var(--color-Magenta),
      var(--color-bbMilk),
      var(--color-Green4),
      var(--color-Teal),
      var(--color-BlueText),
      var(--color-Lavender)
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-border 8s linear infinite;
  }
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
